In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("16. covid_vaccine_statewise.csv")
df

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23757.0,24517.0,2.0,48276.0
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27348.0,31252.0,4.0,58604.0
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,41361.0,58083.0,5.0,99449.0
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,81901.0,113613.0,11.0,195525.0
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,98111.0,153145.0,24.0,251280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7840,11/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7841,12/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7842,13/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7843,14/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7844,15/08/2021,West Bengal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7845 entries, 0 to 7844
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7845 non-null   object
 1   State                                7845 non-null   object
 2   Total Doses Administered             7621 non-null   float64
 3   Sessions                             7621 non-null   float64
 4    Sites                               7621 non-null   float64
 5   First Dose Administered              7621 non-null   float64
 6   Second Dose Administered             7621 non-null   float64
 7   Male (Doses Administered)            7461 non-null   float64
 8   Female (Doses Administered)          7461 non-null   float64
 9   Transgender (Doses Administered)     7461 non-null   float64
 10   Covaxin (Doses Administered)        7621 non-null   float64
 11  CoviShield (Doses Administered)      7621 non-null   float64
 12  Sputnik V (Doses Administered)       2995 non-null   float64
 13  AEFI                                 5438 non-null   float64
 14  18-44 Years (Doses Administered)     1702 non-null   float64
 15  45-60 Years (Doses Administered)     1702 non-null   float64
 16  60+ Years (Doses Administered)       1702 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3733 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3734 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3734 non-null   float64
 20  Male(Individuals Vaccinated)         160 non-null    float64
 21  Female(Individuals Vaccinated)       160 non-null    float64
 22  Transgender(Individuals Vaccinated)  160 non-null    float64
 23  Total Individuals Vaccinated         5919 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

In [11]:
dic = {}
for i in range(7845):
    if df['State'][i] not in dic.keys():
        if df['First Dose Administered'][i] >= 0:
            dic[df['State'][i]] = df['First Dose Administered'][i]
        else:
            dic[df['State'][i]] = 0
    else:
        if df['First Dose Administered'][i] >= 0:
            dic[df['State'][i]] += df['First Dose Administered'][i]
dic = pd.DataFrame(dic.items())
cols = ["State", "Number of Individuals vaccinated for Dose 1"]
dic.columns = cols
dic

,State,Number of Individuals vaccinated for Dose 1
0,India,2.826214e+10
1,Andaman and Nicobar Islands,1.642585e+07
2,Andhra Pradesh,1.232861e+09
3,Arunachal Pradesh,4.900498e+07
4,Assam,5.856002e+08
5,Bihar,1.470503e+09
6,Chandigarh,4.470310e+07
7,Chhattisgarh,7.960029e+08
8,Dadra and Nagar Haveli and Daman and Diu,3.359506e+07
9,Delhi,6.243395e+08
10,Goa,7.599137e+07
11,Gujarat,2.131646e+09
12,Haryana,7.557984e+08
13,Himachal Pradesh,3.162940e+08
14,Jammu and Kashmir,4.101018e+08
15,Jharkhand,6.036737e+08
16,Karnataka,1.873330e+09
17,Kerala,1.193845e+09
18,Ladakh,1.780925e+07
19,Lakshadweep,4.363655e+06
20,Madhya Pradesh,1.796605e+09
21,Maharashtra,2.784364e+09
22,Manipur,6.740957e+07
23,Meghalaya,6.261597e+07
24,Mizoram,4.787308e+07
25,Nagaland,4.241077e+07
26,Odisha,1.032633e+09
27,Puducherry,4.134686e+07
28,Punjab,5.843466e+08
29,Rajasthan,2.201044e+09
30,Sikkim,3.698093e+07
31,Tamil Nadu,1.288533e+09
32,Telangana,8.803206e+08
33,Tripura,1.926897e+08
34,Uttar Pradesh,2.788411e+09
35,Uttarakhand,3.631914e+08
36,West Bengal,1.796450e+09

In [12]:
dic1 = {}
for i in range(7845):
    if df['State'][i] not in dic1.keys():
        if df["Second Dose Administered"][i] >= 0:
            dic1[df["State"][i]] = df["Second Dose Administered"][i]
        else:
            dic1[df["State"][i]] = 0
    else:
        if df["Second Dose Administered"][i] >= 0:
            dic1[df["State"][i]] += df["Second Dose Administered"][i]
dic1 = pd.DataFrame(dic1.items())
cols = ["State", "Number of Individuals vaccinated for Dose 2"]
dic1.columns = cols
dic1

,State,Number of Individuals vaccinated for Dose 2
0,India,6.759621e+09
1,Andaman and Nicobar Islands,4.118554e+06
2,Andhra Pradesh,3.588176e+08
3,Arunachal Pradesh,1.193232e+07
4,Assam,1.307888e+08
5,Bihar,2.707906e+08
6,Chandigarh,1.159374e+07
7,Chhattisgarh,1.721204e+08
8,Dadra and Nagar Haveli and Daman and Diu,4.594416e+06
9,Delhi,1.882189e+08
10,Goa,1.619817e+07
11,Gujarat,6.004184e+08
12,Haryana,1.586561e+08
13,Himachal Pradesh,7.383858e+07
14,Jammu and Kashmir,8.595165e+07
15,Jharkhand,1.221211e+08
16,Karnataka,4.271872e+08
17,Kerala,3.640488e+08
18,Ladakh,5.453762e+06
19,Lakshadweep,1.056446e+06
20,Madhya Pradesh,3.169330e+08
21,Maharashtra,7.128811e+08
22,Manipur,1.185815e+07
23,Meghalaya,1.216663e+07
24,Mizoram,9.998418e+06
25,Nagaland,9.204637e+06
26,Odisha,2.513028e+08
27,Puducherry,8.608859e+06
28,Punjab,1.211210e+08
29,Rajasthan,4.917030e+08
30,Sikkim,9.723640e+06
31,Tamil Nadu,2.906706e+08
32,Telangana,1.981529e+08
33,Tripura,6.527014e+07
34,Uttar Pradesh,5.544351e+08
35,Uttarakhand,1.000850e+08
36,West Bengal,5.861469e+08

In [20]:
male = 0
female = 0
for i in range(7845):
    if df["Male(Individuals Vaccinated)"][i] >= 0:
        male += df["Male(Individuals Vaccinated)"][i]
    if df["Female(Individuals Vaccinated)"][i] >= 0:
        female += df["Female(Individuals Vaccinated)"][i]
  
print(male)
print(female)

7138698858.0
6321628736.0